<section class="container mt-2">
    <h1 class="text-center">Nos articles</h1>
    <div class="article-list">
        {% for article in articles %}
            {% include 'Components/_articleCard.html.twig' %}
        {% endfor %}
    </div>
</section>