<section class="banner" style="background: center / cover url('{{ vich_uploader_asset(article) }}')">
	<div class="banner-header">
		<h1 class="banner-title">{{ article.title }}</h1>
	</div>
</section>
