{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'Frontend/DisplayArticle/_banner.html.twig' %}
    <section class="container mt-4 article-details-wrapper">
        {% include 'Frontend/DisplayArticle/_infos.html.twig' %}
        {% include 'Frontend/DisplayArticle/_content.html.twig' %}
    </section>
{% endblock %}
