{% extends 'base.html.twig' %}

{% block title %}
	Création d'un article
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des articles</h1>
		{% include 'Backend/Article/_form.html.twig' with { buttonLabel: "Créer" } %}
	</section>
{% endblock %}
