{% extends 'base.html.twig' %}

{% block title %}
	Administration des articles
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2 mb-4">
		<h1 class="text-center">Administration des articles</h1>
		<a href="{{ path('admin.articles.create') }}" class="btn btn-primary mt-2">Créer un article</a>
		<div class="article-list gy-4">
			{% for article in articles %}
				{% include 'Components/_articleCard.html.twig' %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
