{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un article
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Modification d'un article</h1>
		{% include 'Backend/Article/_form.html.twig' with { buttonLabel: "Modifier" } %}
	</section>
{% endblock %}
