.card {
    border-radius: $border-radius;
    box-shadow: $box-shadow-card;
    padding: 1em;
    background: $white-dark;

    &:not(form) {
        margin-top: 5em;
    }

    &-img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        display: block;
        background: $white;
        border-radius: $border-radius;
        box-shadow:
            0 16px 38px -12px rgba(0, 0, 0, 0.56),
            0 4px 25px 0 rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
        margin: -5em auto 1em;
    }

    &-btn {
        @include flex(flex-start, $gap: 1em);
    }

    a{
        display: block;
    }
}
