.text-center {
    text-align: center;
}

.mx-auto {
    margin-inline: auto;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

$place: (
    "top": "t",
    "right": "e",
    "bottom": "b",
    "left": "s"
);

@each $key, $value in $place {
    @for $i from 1 through 5 {
        .m#{$value}-#{$i} {
            margin-#{$key}: #{$i * 0.5}em;
        }

        .p#{$value}-#{$i} {
            padding-#{$key}: #{$i * 0.5}em;
        }
    }
}
