@mixin flex($justify: center, $align: center, $wrap: wrap, $gap: 0, $display: flex, $direction: row) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction;
}
