@mixin flex($justify: center, $align: center, $wrap: wrap, $gap: 0, $display: flex, $direction: row) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
    flex-direction: $direction;
}

@mixin grid($columns: 1fr, $gap: 0, $breakpoint: 767px){
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;

    @media screen and (max-width: $breakpoint) {
        grid-template-columns: 1fr;
    }
}
