// Colors
$primary: #68b0ab;
$secondary: #faf3dd;
$white: #f3f3f3;
$dark: #131313;
$text-color: #4d4d4d;

// Border radius
$border-radius: 8px;

// Font
$default-font: "Lato", sans-serif;
$heading-font: "Poppins", sans-serif;
