<section class="container mt-2">
    <h1 class="text-center">Nos derniers articles</h1>
    {% if app.request.get('_route') == 'app.home' %}
        <a href="{{ path('app.articles.index') }}" class="btn btn-primary">Voir les articles</a>
    {% endif %}
    
    <div class="article-list">
        {% for article in articles %}
            {% include 'Components/_articleCard.html.twig' %}
            {% else %}
            <div class="alert alert-info">
                <p>Aucun article ne correspond à votre recherche !</p>
            </div>
        {% endfor %}
    </div>
</section>